<div class="row">
    <div class="col-md-5">
        <h2>MyWebApi1 </h2>

        <p>
            <input type="text" id="txtName" name="name" />
            <input type="password" id="txtPwd" name="pwd" />
            <input type="button" id="btnLogin" value="login" />
            <input type="button" id="btnTest" value="Test" />
        </p>

        <p><input type="text" id="txtId" name="id" value="1" /> </p>
        <p>
            <input type="button" id="btnGet1" value="Get1" />
            <input type="button" id="btnGet2" value="Get2" />
            <input type="button" id="btnGet3" value="Get3" />
            <input type="button" id="btnGet4" value="Get4" />
            <input type="button" id="btnGet5" value="Get5" />
            <input type="button" id="btnGet6" value="Get6" />
            <input type="button" id="btnGet7" value="Get7" />
            <input type="button" id="btnGet8" value="Get8" />
            <input type="button" id="btnGet9" value="Get9" />

        </p>

        <p>
            <input type="button" id="btnPost" value="Post" />
            <input type="button" id="btnPost1" value="Post1" />
            <input type="button" id="btnPost2" value="Post2" />
            <input type="button" id="btnPost3" value="Post3" />
            <input type="button" id="btnPost4" value="Post4" />
            <input type="button" id="btnPost5" value="Post5" />
            <input type="button" id="btnPost6" value="Post6" />
            <input type="button" id="btnPost7" value="Post7" />
        </p>
        <p>
            <input type="button" id="btnPut1" value="Put1" />
            <input type="button" id="btnPut2" value="Put2" />
            <input type="button" id="btnPut3" value="Put3" />
            <input type="button" id="btnPut4" value="Put4" />
            <input type="button" id="btnPut5" value="Put5" />
            <input type="button" id="btnPut6" value="Put6" />
        </p>
        <p>
            <input type="button" id="btnDelete1" value="Delete1" />
        </p>
        <p>
            @*原因：同源策略：出于安全考虑，浏览器会限制脚本中发起的跨站请求，浏览器要求JavaScript或Cookie只能访问同域下的内容。
            CORS全称Cross-Origin Resource Sharing，中文全称跨域资源共享,
            它解决跨域问题的原理是通过向http的请求报文和响应报文里面加入相应的标识告诉浏览器它能访问哪些域名的请求。
             如我们向响应报文里面增加这个Access-Control-Allow-Origin:http://localhost:8081，就表示支持http://localhost:8081里面的所有请求访问系统资源。
             https://www.cnblogs.com/landeanfen/p/5177176.html*@
            <input type="button" id="btnGetCors1" value="跨域Get1:16202" />
            <input type="button" id="btnGetCors2" value="跨域Get2:19476" />
            <input type="button" id="btnGet" value="Get" />
        </p>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            var user = { UserID: 11, UserName: "tommy001", UserEmail: "55555@qq.com" };
            var info = "this is muti model";
            var ids = ["1", "2", "3", "4"];
            var userList = [
                { UserID: 12, UserName: "tommy12", UserEmail: "121212@qq.com" },
                { UserID: 13, UserName: "tommy13", UserEmail: "131313@qq.com" },
                { UserID: 14, UserName: "tommy14", UserEmail: "141414@qq.com" }
            ];
            $("#btnGet1").on("click", function () {
                $.ajax({
                    url: "/api/users/" + "tommy",
                    type: "get",
                    datatype: "json",
                    success: function (data) {
                        alert(JSON.stringify(data));
                    }
                });
            });
            $("#btnGet2").on("click", function () {
                $.ajax({
                    url: "/api/users/" + $("#txtId").val(),
                    type: "get",
                    datatype: "json",
                    success: function (data) {
                        alert(JSON.stringify(data));
                    }
                });
            });
            $("#btnGet3").on("click", function () {
                $.ajax({
                    url: "/api/users/tommy/" + $("#txtId").val(),
                    type: "get",
                    datatype: "json",
                    success: function (data) {
                        alert(JSON.stringify(data));
                    }
                });
            });
            $("#btnGet4").on("click", function () {
                $.ajax({
                    url: "/api/users",
                    type: "get",
                    data: "",
                    success: function (data) {
                        alert(JSON.stringify(data)); 
                    },
                    datatype: "json"
                });
            });
            $("#btnGet5").on("click", function () {
                $.ajax({
                    url: "/api/users/GetUserByModel",
                    type: "get",
                    data: user,
                    success: function (data) {
                        alert(JSON.stringify(data)); 
                    },
                    datatype: "json"
                });
            });
            $("#btnGet6").on("click", function () {
                $.ajax({
                    url: "/api/users/GetUserByModelUri",
                    type: "get",
                    data: user,
                    success: function (data) {
                        alert(JSON.stringify(data)); 
                    },
                    datatype: "json"
                });
            });
            $("#btnGet7").on("click", function () {
                $.ajax({
                    url: "/api/users/GetUserByModelSerialize",
                    type: "get",
                    data: { userString: JSON.stringify(user) },
                    success: function (data) {
                        alert(JSON.stringify(data));
                    },
                    datatype: "json"
                });
            });
            $("#btnGet8").on("click", function () {
                $.ajax({
                    url: "/api/users/GetUserByModelSerializeWithoutGet",
                    type: "get",
                    data: { userString: JSON.stringify(user) },
                    success: function (data) {
                        alert(JSON.stringify(data)); 
                    },
                    datatype: "json"
                });
            });
            $("#btnGet9").on("click", function () {
                $.ajax({
                    url: "/api/users/Get/NoGetUserByModelSerializeWithoutGet",
                    type: "get",
                    data: { userString: JSON.stringify(user) },
                    success: function (data) {
                        alert(JSON.stringify(data));
                    },
                    datatype: "json"
                });
            });

            $("#btnPost").on("click", function () {
                $.ajax({
                    url: "/api/users",
                    type: "post",
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json"
                });
            });
            $("#btnPost1").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterNoKey",
                    type: "post",
                    data: { "": $("#txtId").val() },
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json"
                });
            });
            $("#btnPost2").on("click", function () {
                $.ajax({
                    url: "/api/users/Register",
                    type: "post",
                    data: { "id": $("#txtId").val() },
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json"
                });
            });
            $("#btnPost3").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterUser",
                    type: "post",
                    data: user,
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json"
                });
            });
            $("#btnPost4").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterUser",
                    type: "post",
                    data: JSON.stringify(user),
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json",
                    contentType: 'application/json'
                });
            });
            $("#btnPost5").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterObject",
                    type: "post",
                    data: { "User": user, "Info": info },
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json"
                });
            });
            $("#btnPost6").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterObjectDynamic",
                    type: "post",
                    data: { "User": user, "Info": info },
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json"
                });
            });
            $("#btnPost7").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterObjectDynamic",
                    type: "post",
                    data: JSON.stringify({ "User": user, "Info": info }),
                    success: function (data) { alert(data); },
                    datatype: "json",
                    contentType: 'application/json'
                });
            });

            $("#btnPut1").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterNoKeyPut",
                    type: "put",
                    data: { "": $("#txtId").val() },
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json"
                });
            });
            $("#btnPut2").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterPut",
                    type: "put",
                    data: { "id": $("#txtId").val() },
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json"
                });
            });
            $("#btnPut3").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterUserPut",
                    type: "put",
                    data: user,
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json"
                });
            });
            $("#btnPut4").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterUserPut",
                    type: "put",
                    data: JSON.stringify(user),
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json",
                    contentType: 'application/json',
                });
            });
            $("#btnPut5").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterObjectPut",
                    type: "put",
                    data: { "User": user, "Info": info },
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json"
                });
            });
            $("#btnPut6").on("click", function () {
                $.ajax({
                    url: "/api/users/RegisterObjectDynamicPut",
                    type: "put",
                    data: { "User": user, "Info": info },
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json",
                    contentType: 'application/json'
                });
            });


            $("#btnDelete1").on("click", function () {
                $.ajax({
                    url: "/api/users/" + $("#txtId").val(),
                    type: "delete",
                    success: function (data) { alert(JSON.stringify(data)); },
                    datatype: "json"
                });
            });


            jQuery.support.cors = true;  //解决ie9以下浏览器对cors支持问题
            var location = "http://localhost:16202/";
            $("#btnGetCors1").on("click", function () {
                $.ajax({
                    url: location + "api/values/v1",
                    type: "get",
                    success: function (data) {
                        alert(data);
                    },
                    error: function (result) {
                        alert("出错了");
                    },
                    datatype: "json"
                });
            });

            var location2 = "http://localhost:19476/";
            $("#btnGetCors2").on("click", function () {
                $.ajax({
                    url: location2 + "api/values",
                    type: "get",
                    success: function (data) {
                        alert(data);
                    },
                    error: function (result) {
                        alert("出错了");
                    },
                    datatype: "json"
                });
            });

            $("#btnGet").on("click", function () {
                $.ajax({
                    url: "/api/values",
                    type: "get",
                    success: function (data) {
                        alert(data);
                    },
                    error: function (result) {
                        alert("出错了");
                    },
                    datatype: "json"
                });
            });


            /* form
            $("#btnLogin").on("click", function () {
                $.ajax({
                    url: "/api/login",
                    type: "get",
                    data: { name: $("#txtName").val(), pwd: $("#txtPwd").val() },
                    success: function (data) {
                        alert(data);
                    },
                    error: function (result) {
                        alert(result.responseJSON.Message);
                    },
                    datatype: "json"
                });
            });
            $("#btnTest").on("click", function () {
                $.ajax({
                    url: "/api/login/values",
                    type: "get",
                    success: function (data) {
                        alert(data);
                    },
                    error: function (result) {
                        alert(result.responseText);
                    },
                    datatype: "json"
                });
            });*/

            /* basic 
            var Ticket;
            $("#btnLogin").on("click", function () {
                $.ajax({
                    url: "/api/login2",
                    type: "get",
                    data: { name: $("#txtName").val(), pwd: $("#txtPwd").val() },
                    success: function (data) {
                        if (data.bRes) {
                            Ticket = data.Ticket;
                            alert("登录成功");
                        }
                        else {
                            alert("用户名或密码错误");
                        }
                    },
                    error: function (result) {
                        alert(result.responseText);
                    },
                    datatype: "json"
                });
            });
            $("#btnTest").on("click", function () {
                $.ajax({
                    url: "/api/login2/values",
                    type: "get",
                    success: function (data) {
                        alert(data);
                    },
                    beforeSend: function (xhr) {
                        //发送ajax请求之前向http的head里面加入验证信息
                        xhr.setRequestHeader("Authorization", "BasicAuth " + Ticket);
                    },
                    error: function (result) {
                        alert(result.responseText);
                    },
                    datatype: "json"
                });
            });*/


            /* digest 
            var dTicket;
            $("#btnLogin").on("click", function () {
                $.ajax({
                    url: "/api/login3",
                    type: "get",
                    data: { name: $("#txtName").val(), pwd: $("#txtPwd").val() },
                    success: function (data) {
                        if (data.bRes) {
                            dTicket = data.Ticket;
                            alert("登录成功");
                        }
                        else {
                            alert("用户名或密码错误");
                        }
                    },
                    error: function (result) {
                        alert(result.responseText);
                    },
                    datatype: "json"
                });
            });
            $("#btnTest").on("click", function () {
                $.ajax({
                    url: "/api/login3/values",
                    type: "get",
                    success: function (data) {
                        alert(data);
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "DigestAuth " + dTicket);
                    },
                    error: function (result) {
                        alert(result.responseText);
                    },
                    datatype: "json"
                });
            });*/

            /* jwt */
            var jwtToken;
            $("#btnLogin").on("click", function () {
                $.ajax({
                    url: "/api/jwt/login",
                    type: "post",
                    data: { UserName: $("#txtName").val(), Password: $("#txtPwd").val() },
                    success: function (data) {
                        if (data.Success) {
                            jwtToken = data.Token;
                            alert("登录成功");
                        }
                        else {
                            alert("用户名或密码错误");
                        }
                    },
                    error: function (result) {
                        alert(result.responseText);
                    },
                    datatype: "json"
                });
            });
            $("#btnTest").on("click", function () {
                $.ajax({
                    url: "/api/jwt/login",
                    type: "get",
                    headers: { "auth": jwtToken },//通过请求头来发送token，放弃了通过cookie的发送方式
                    success: function (data) {
                        alert(data);
                    },
                    error: function (result) {
                        alert(result.responseText);
                    },
                    datatype: "json"
                });
            });

        });

    </script>

}
